.navbar-light .navbar-brand {
    color: #4F2582;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}
.container-fluid h1{
  color: #4F2582;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}
.row {
  padding-top: 100px;
}
.img-fluid {
  width: 80%;
  height: auto;
  box-shadow: 0px 20px 80px gray;
}
.media-body {
    align-content: center;
}
