a:link {
  text-decoration: none;
  color: #9B30FF;
}
a:visited{
  text-decoration: none;
  color: #9B30FF;
}
a:hover {
  text-decoration: bold;
  color: #000000;
}
.navbar-light .navbar-brand {
  color: #4F2582;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}
#index .jumbotron {
  background-image: url(kgh.jpg);
  background-size: cover;
  height: 800px;#index
  box-shadow: 0px 20px 100px gray;
}
#index .jumbotron h1{
  color: #;
  font-size: 36px;
}
#index .blockquote{
  font-size: 20px;
}
#index .blockquote-footer{
  color:#000;
}
#index .container-fluid h1{
  text-align: center;
  color: #4F2582;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}
#index .container-fluid h3{
  text-align: center;
}
#index .row {
  padding-top: 30px;
  padding-bottom: 60px;
}
#about .row {
  padding-top: 120px;
}
#about .img-fluid {
  width: 80%;
  height: auto;
  box-shadow: 0px 20px 80px gray;
}
#about .media-body {
  align-content: center;
}
#classes .jumbotron {
  background-image: url(collab.jpg);
  background-size: cover;
  height: 400px;
  box-shadow: 0px 20px 100px gray;
}
#trips .d-block {
  max-height: 890px;
}
